* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #ffffff;
  color: black;
  font-family: 'poppins', 'sans-serif';
}

/* .logo {
  position: absolute;
  width: 130px;
  height: 50px;
  padding: 10px 15px;
  margin-bottom: 40px;
  margin-top: 5px;
  margin-left: 10px;
  background: #FFFFFF;
  
}

nav {
  height: 60px;
  margin-bottom: 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.airbnb-img {
  width: 495.91px;
  height: 312px;
  left: 77px;
  top: 96px;
  margin-left: 77px;
}

h1 {
  font-size: 36px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: -20px;
  margin-left: 20px;
}

p {
  height: 56px;
  width: 300px;
  left: 36px;
  top: 416px;
  border-radius: nullpx;
  padding: 10px;
  margin-left: 20px;

} */








